In [122]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [123]:
heart_df = pd.read_csv('https://raw.githubusercontent.com/UrielBender/BigData/master/DataSets/heart.csv')
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      319 non-null    object
 1   age       319 non-null    int64
 2   sex       317 non-null    object
 3   cp        319 non-null    int64
 4   trestbps  319 non-null    int64
 5   chol      318 non-null    float64
 6   fbs       319 non-null    int64
 7   a1c       319 non-null    int64
 8   restecg   319 non-null    int64
 9   thalach   318 non-null    float64
 10  exang     319 non-null    int64
 11  oldpeak   319 non-null    float64
 12  slope     319 non-null    int64
 13  ca        319 non-null    int64
 14  thal      319 non-null    int64
 15  livfun    319 non-null    int64
 16  tilt      24 non-null     float64
 17  target    319 non-null    object
dtypes: float64(4), int64(11), object(3)
memory usage: 45.0+ KB

In [124]:
heart_df.head()

,name,age,sex,cp,trestbps,chol,fbs,a1c,restecg,thalach,exang,oldpeak,slope,ca,thal,livfun,tilt,target
0,Noah,63,male,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1,0.0,yes
1,Oliver,37,male,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1,1.0,yes
2,William,41,female,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,NaN,yes
3,Elijah,56,male,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,NaN,yes
4,James,57,female,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,NaN,yes

In [125]:
# change the column names for readability
heart_df.columns = ['first_name', 'age', 'sex', 'chest_pain_type', 'resting_blood_pressure', 'cholesterol', 
                    'fasting_blood_sugar', 'alc_test', 'rest_eng', 'max_heart_rate_achieved', 'exercise_induced_angina',
                   'st_depression', 'st_slope', 'num_major_vessels','thalassemia','liver_function','tilt_chest','target']

In [126]:
heart_df.head()

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,tilt_chest,target
0,Noah,63,male,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1,0.0,yes
1,Oliver,37,male,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1,1.0,yes
2,William,41,female,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,NaN,yes
3,Elijah,56,male,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,NaN,yes
4,James,57,female,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,NaN,yes

In [127]:
heart_df.describe()

,age,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,tilt_chest
count,319.000000,319.000000,319.000000,318.000000,319.000000,319.000000,319.000000,318.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.0,24.000000
mean,54.470219,0.987461,131.300940,247.361635,0.150470,0.849530,0.523511,150.000000,0.329154,1.033542,1.391850,0.711599,2.316614,1.0,0.541667
std,9.005496,1.036973,17.748515,55.211421,0.358093,0.358093,0.524775,22.597004,0.470644,1.157273,0.624497,1.008559,0.606625,0.0,0.508977
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,1.000000,0.000000,136.250000,0.000000,0.000000,1.000000,0.000000,2.000000,1.0,0.000000
50%,56.000000,1.000000,130.000000,240.000000,0.000000,1.000000,1.000000,154.000000,0.000000,0.700000,1.000000,0.000000,2.000000,1.0,1.000000
75%,61.000000,2.000000,140.000000,275.750000,0.000000,1.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.0,1.000000
max,77.000000,3.000000,200.000000,564.000000,1.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.0,1.000000

# Data preprocessing

## Check for duplicates cases

In [128]:
heart_df.duplicated().sum()

13

In [129]:
heart_df[heart_df.duplicated(keep='first')]

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,tilt_chest,target
303,James,57,female,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,NaN,yes
304,Daniel,64,male,3,110,211.0,0,1,0,144.0,1,1.8,1,0,2,1,NaN,yes
305,Samuel,59,male,0,135,234.0,0,1,1,161.0,0,0.5,1,0,3,1,NaN,yes
306,Julian,53,male,2,130,197.0,1,0,0,152.0,0,1.2,0,0,2,1,NaN,yes
307,Gabriel,46,female,2,142,177.0,0,1,0,160.0,1,1.4,0,0,2,1,NaN,yes
308,Thomas,52,male,1,120,325.0,0,1,1,172.0,0,0.2,2,0,2,1,NaN,yes
309,Isaiah,66,male,0,120,302.0,0,1,0,151.0,0,0.4,1,0,2,1,NaN,yes
312,Ian,58,male,2,105,240.0,0,1,0,154.0,1,0.6,1,0,3,1,NaN,yes
313,Luca,67,female,2,115,564.0,0,1,0,160.0,0,1.6,1,0,3,1,NaN,yes
314,Declan,54,female,1,132,288.0,1,0,0,159.0,1,0.0,2,1,2,1,NaN,yes
315,Weston,59,male,3,178,270.0,0,1,0,145.0,0,4.2,0,0,3,1,NaN,yes
316,Waylon,57,male,2,150,126.0,1,0,1,173.0,0,0.2,2,1,3,1,NaN,yes
318,Braxton,39,female,2,94,199.0,0,1,1,179.0,0,0.0,2,0,2,1,NaN,yes

In [130]:
heart_df[heart_df.duplicated(keep='last')]

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,tilt_chest,target
4,James,57,female,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,NaN,yes
13,Daniel,64,male,3,110,211.0,0,1,0,144.0,1,1.8,1,0,2,1,NaN,yes
20,Samuel,59,male,0,135,234.0,0,1,1,161.0,0,0.5,1,0,3,1,NaN,yes
29,Julian,53,male,2,130,197.0,1,0,0,152.0,0,1.2,0,0,2,1,NaN,yes
35,Gabriel,46,female,2,142,177.0,0,1,0,160.0,1,1.4,0,0,2,1,NaN,yes
45,Thomas,52,male,1,120,325.0,0,1,1,172.0,0,0.2,2,0,2,1,NaN,yes
51,Isaiah,66,male,0,120,302.0,0,1,0,151.0,0,0.4,1,0,2,1,NaN,yes
79,Ian,58,male,2,105,240.0,0,1,0,154.0,1,0.6,1,0,3,1,NaN,yes
85,Luca,67,female,2,115,564.0,0,1,0,160.0,0,1.6,1,0,3,1,NaN,yes
93,Declan,54,female,1,132,288.0,1,0,0,159.0,1,0.0,2,1,2,1,NaN,yes
101,Weston,59,male,3,178,270.0,0,1,0,145.0,0,4.2,0,0,3,1,NaN,yes
111,Waylon,57,male,2,150,126.0,1,0,1,173.0,0,0.2,2,1,3,1,NaN,yes
124,Braxton,39,female,2,94,199.0,0,1,1,179.0,0,0.0,2,0,2,1,NaN,yes

In [131]:
heart_df.drop_duplicates(inplace=True)
heart_df.reset_index(inplace=True, drop=True)
heart_df

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,tilt_chest,target
0,Noah,63,male,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1,0.0,yes
1,Oliver,37,male,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1,1.0,yes
2,William,41,female,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,NaN,yes
3,Elijah,56,male,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,NaN,yes
4,James,57,female,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,NaN,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Hendrix,57,male,0,130,131.0,0,1,1,115.0,1,1.2,1,1,3,1,NaN,no
302,Liam,57,female,1,130,236.0,0,1,0,174.0,0,0.0,1,1,2,1,NaN,no
303,Aaron,57,female,0,128,303.0,0,1,0,159.0,0,0.0,2,1,2,1,0.0,yes
304,Roman,51,male,2,94,227.0,0,1,1,154.0,1,0.0,2,1,3,1,NaN,yes
305,Cole,64,female,0,130,303.0,0,1,1,122.0,0,2.0,1,2,2,1,NaN,yes

## Check for missing values

In [132]:
# isnull() == isna()
missing = heart_df.isnull()
missing.sum()

first_name                   0
age                          0
sex                          2
chest_pain_type              0
resting_blood_pressure       0
cholesterol                  1
fasting_blood_sugar          0
alc_test                     0
rest_eng                     0
max_heart_rate_achieved      1
exercise_induced_angina      0
st_depression                0
st_slope                     0
num_major_vessels            0
thalassemia                  0
liver_function               0
tilt_chest                 282
target                       0
dtype: int64

In [133]:
# display missing rows
heart_df[missing.any(axis=1)]

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,tilt_chest,target
2,William,41,female,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,NaN,yes
3,Elijah,56,male,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,NaN,yes
4,James,57,female,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,NaN,yes
6,Lucas,56,female,1,140,294.0,0,1,0,153.0,0,1.3,1,0,2,1,NaN,yes
7,Mason,44,male,1,120,263.0,0,1,1,173.0,0,0.0,2,0,3,1,NaN,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,Khalil,68,male,0,144,193.0,1,0,1,141.0,0,3.4,1,2,3,1,NaN,no
301,Hendrix,57,male,0,130,131.0,0,1,1,115.0,1,1.2,1,1,3,1,NaN,no
302,Liam,57,female,1,130,236.0,0,1,0,174.0,0,0.0,1,1,2,1,NaN,no
304,Roman,51,male,2,94,227.0,0,1,1,154.0,1,0.0,2,1,3,1,NaN,yes
305,Cole,64,female,0,130,303.0,0,1,1,122.0,0,2.0,1,2,2,1,NaN,yes

## Replace Nans with values

In [134]:
heart_df.isnull().sum()

first_name                   0
age                          0
sex                          2
chest_pain_type              0
resting_blood_pressure       0
cholesterol                  1
fasting_blood_sugar          0
alc_test                     0
rest_eng                     0
max_heart_rate_achieved      1
exercise_induced_angina      0
st_depression                0
st_slope                     0
num_major_vessels            0
thalassemia                  0
liver_function               0
tilt_chest                 282
target                       0
dtype: int64

In [135]:
heart_cp = heart_df.copy()
heart_cp['tilt_chest'].fillna(value = 'TBD', inplace=True) # To Be Discover
heart_cp['sex'].fillna(value=heart_df['sex'].value_counts().index[0], inplace=True) # Fill the nan with the most common sex in the data
heart_cp['cholesterol'].fillna(value=heart_df['cholesterol'].mean(), inplace=True) # Fill the nan with mean value
heart_cp['max_heart_rate_achieved'].fillna(value=heart_df['max_heart_rate_achieved'].median(), inplace=True) # Fill the nan with median value

In [136]:
heart_cp[missing.cholesterol]

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,tilt_chest,target
86,Austin,68,male,2,118,246.472131,0,1,1,153.0,0,1.0,2,1,3,1,TBD,yes

## Remove missing values

In [137]:
pd.crosstab(index=missing.tilt_chest, columns='Count', margins=True)
# 282 rows with null relative to 306 rows in total

col_0       Count  All
tilt_chest
False          24   24
True          282  282
All           306  306

In [138]:
# drop 'titl_chest' feature
# heart_df.drop(axis=1, 'tilt_chest', inplace=True)

In [139]:
# drop a column that does not have at least 200 non-Nan values
heart_df.dropna(axis=1, thresh=200, inplace=True)
heart_df.head()

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,target
0,Noah,63,male,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1,yes
1,Oliver,37,male,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1,yes
2,William,41,female,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,yes
3,Elijah,56,male,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,yes
4,James,57,female,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,yes

In [140]:
# remove rows with a NaN
heart_cp = heart_df.copy()
heart_df.dropna(inplace=True) # axis = 0 by default
heart_cp.describe() - heart_df.describe()

,age,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function
count,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.0
mean,0.002686,0.006957,-0.232511,-0.349651,-0.001456,0.001456,0.004659,-0.023741,0.000065,-0.006957,0.002621,-0.000679,0.003494,0.0
std,0.007091,-0.001652,0.099622,0.080460,-0.001453,-0.001453,-0.000496,-0.064570,0.000016,-0.002670,-0.000693,-0.003956,-0.000206,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,-0.500000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

## Convert string categorical (bianry or ordinal) value to numeric value when possible

In [141]:
heart_df_unique_target = set(heart_df.target)
print(heart_df_unique_target)

heart_df_unique_sex = set(heart_df.sex)
print(heart_df_unique_sex)

{'yes', 'no'}
{'female', 'male'}

In [142]:
heart_df.sex.replace({'male':1, 'female': 0}, inplace=True)
heart_df.target.replace({'yes':1, 'no': 0}, inplace=True)
heart_df.head()

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,target
0,Noah,63,1,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1,1
1,Oliver,37,1,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1,1
2,William,41,0,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,1
3,Elijah,56,1,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,1
4,James,57,0,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,1

## Re-Confirm data types after modifications

In [143]:
heart_df.dtypes

first_name                  object
age                          int64
sex                          int64
chest_pain_type              int64
resting_blood_pressure       int64
cholesterol                float64
fasting_blood_sugar          int64
alc_test                     int64
rest_eng                     int64
max_heart_rate_achieved    float64
exercise_induced_angina      int64
st_depression              float64
st_slope                     int64
num_major_vessels            int64
thalassemia                  int64
liver_function               int64
target                       int64
dtype: object

# Exercise

In [144]:
weather_df = pd.read_csv('https://raw.githubusercontent.com/UrielBender/BigData/master/DataSets/weather_data.csv',
                        parse_dates=['day'], index_col='day')
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11 entries, 2017-01-01 to 2017-01-01
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  7 non-null      float64
 1   windspeed    6 non-null      float64
 2   day_type     11 non-null     object
 3   event        9 non-null      object
dtypes: float64(2), object(2)
memory usage: 440.0+ bytes

In [145]:
weather_df.head()

            temperature  windspeed day_type  event
day
2017-01-01         32.0        6.0  Holyday   Rain
2017-01-04          NaN        9.0  Weekend  Sunny
2017-01-05         28.0        NaN  Regular   Snow
2017-01-06          NaN        7.0  Regular    NaN
2017-01-07         32.0        NaN  Regular   Rain

In [146]:
weather_df.isnull().any(axis=1).sum()

7

In [147]:
weather_df[weather_df.isna().any(axis=1)]

            temperature  windspeed day_type  event
day
2017-01-04          NaN        9.0  Weekend  Sunny
2017-01-05         28.0        NaN  Regular   Snow
2017-01-06          NaN        7.0  Regular    NaN
2017-01-07         32.0        NaN  Regular   Rain
2017-01-08          NaN        NaN  Regular  Sunny
2017-01-09          NaN        NaN  Regular    NaN
2017-01-07         32.0        NaN  Regular   Rain

In [148]:
weather_df.windspeed.fillna(value=weather_df.windspeed.mean(), inplace=True)
weather_df

            temperature  windspeed day_type   event
day
2017-01-01         32.0        6.0  Holyday    Rain
2017-01-04          NaN        9.0  Weekend   Sunny
2017-01-05         28.0        8.0  Regular    Snow
2017-01-06          NaN        7.0  Regular     NaN
2017-01-07         32.0        8.0  Regular    Rain
2017-01-08          NaN        8.0  Regular   Sunny
2017-01-09          NaN        8.0  Regular     NaN
2017-01-10         34.0        8.0  Weekend  Cloudy
2017-01-11         40.0       12.0  Weekend   Sunny
2017-01-07         32.0        8.0  Regular    Rain
2017-01-01         32.0        6.0  Holyday    Rain

In [149]:
weather_df.drop('day_type', axis=1, inplace=True)
weather_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        8.0    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        8.0    Rain
2017-01-08          NaN        8.0   Sunny
2017-01-09          NaN        8.0     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny
2017-01-07         32.0        8.0    Rain
2017-01-01         32.0        6.0    Rain

In [150]:
# Its okay to change the events only because their values have order meaning
weather_df.event.replace({'Snow':0,'Rain':1,'Cloudy':2,'Sunny':3}, inplace=True) 
weather_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0    1.0
2017-01-04          NaN        9.0    3.0
2017-01-05         28.0        8.0    0.0
2017-01-06          NaN        7.0    NaN
2017-01-07         32.0        8.0    1.0
2017-01-08          NaN        8.0    3.0
2017-01-09          NaN        8.0    NaN
2017-01-10         34.0        8.0    2.0
2017-01-11         40.0       12.0    3.0
2017-01-07         32.0        8.0    1.0
2017-01-01         32.0        6.0    1.0

In [151]:
weather_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0    1.0
2017-01-04          NaN        9.0    3.0
2017-01-05         28.0        8.0    0.0
2017-01-06          NaN        7.0    NaN
2017-01-07         32.0        8.0    1.0
2017-01-08          NaN        8.0    3.0
2017-01-09          NaN        8.0    NaN
2017-01-10         34.0        8.0    2.0
2017-01-11         40.0       12.0    3.0
2017-01-07         32.0        8.0    1.0
2017-01-01         32.0        6.0    1.0

In [152]:
weather_df['inter_temp'] = weather_df.temperature.interpolate(method='time')
weather_df

            temperature  windspeed  event  inter_temp
day
2017-01-01         32.0        6.0    1.0   32.000000
2017-01-04          NaN        9.0    3.0   29.000000
2017-01-05         28.0        8.0    0.0   28.000000
2017-01-06          NaN        7.0    NaN   30.000000
2017-01-07         32.0        8.0    1.0   32.000000
2017-01-08          NaN        8.0    3.0   32.666667
2017-01-09          NaN        8.0    NaN   33.333333
2017-01-10         34.0        8.0    2.0   34.000000
2017-01-11         40.0       12.0    3.0   40.000000
2017-01-07         32.0        8.0    1.0   32.000000
2017-01-01         32.0        6.0    1.0   32.000000

## Naive Feature Selection

In [153]:
heart_df.head()

,first_name,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,target
0,Noah,63,1,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1,1
1,Oliver,37,1,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1,1
2,William,41,0,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,1
3,Elijah,56,1,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,1
4,James,57,0,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,1

In [154]:
# the name is irrelevant to the target
heart_df.drop('first_name', axis=1, inplace=True)

In [155]:
heart_df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,liver_function,target
0,63,1,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1,1
1,37,1,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1,1
2,41,0,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1,1
3,56,1,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1,1
4,57,0,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1,1

## Zero Variance Feature

In [156]:
# check number of unique values in each column
heart_df.nunique()
# 'liver_function' need to be dropped

age                         41
sex                          2
chest_pain_type              4
resting_blood_pressure      49
cholesterol                151
fasting_blood_sugar          2
alc_test                     2
rest_eng                     3
max_heart_rate_achieved     91
exercise_induced_angina      2
st_depression               40
st_slope                     3
num_major_vessels            5
thalassemia                  4
liver_function               1
target                       2
dtype: int64

In [157]:
heart_df.drop('liver_function', axis=1, inplace=True)
heart_df

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,1,3,145,233.0,1,0,0,150.0,0,2.3,0,0,1,1
1,37,1,2,130,250.0,0,1,1,187.0,0,3.5,0,0,2,1
2,41,0,1,130,204.0,0,1,0,172.0,0,1.4,2,0,2,1
3,56,1,1,120,236.0,0,1,1,178.0,0,0.8,2,0,2,1
4,57,0,0,120,354.0,0,1,1,163.0,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,57,1,0,130,131.0,0,1,1,115.0,1,1.2,1,1,3,0
302,57,0,1,130,236.0,0,1,0,174.0,0,0.0,1,1,2,0
303,57,0,0,128,303.0,0,1,0,159.0,0,0.0,2,1,2,1
304,51,1,2,94,227.0,0,1,1,154.0,1,0.0,2,1,3,1
305,64,0,0,130,303.0,0,1,1,122.0,0,2.0,1,2,2,1

## Correlated Features
Some relation between features ---> for example: if 1 is grows, 2 is decrease

In [158]:
heart_df.corr()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,alc_test,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
age,1.000000,-0.113453,-0.077861,0.280675,0.210914,0.120513,-0.120513,-0.115770,-0.404905,0.095105,0.209660,-0.177835,0.277678,0.058708,-0.223558
sex,-0.113453,1.000000,-0.042255,-0.058976,-0.217551,0.047862,-0.047862,-0.055217,-0.042539,0.146201,0.091817,-0.037533,0.106458,0.209735,-0.286632
chest_pain_type,-0.077861,-0.042255,1.000000,0.051373,-0.085388,0.098339,-0.098339,0.041559,0.297061,-0.387122,-0.148438,0.115403,-0.185931,-0.162347,0.424501
resting_blood_pressure,0.280675,-0.058976,0.051373,1.000000,0.117894,0.175855,-0.175855,-0.108315,-0.048370,0.064132,0.190514,-0.122204,0.098962,0.064031,-0.140527
cholesterol,0.210914,-0.217551,-0.085388,0.117894,1.000000,0.008803,-0.008803,-0.148315,-0.015725,0.059589,0.048813,-0.008350,0.071423,0.090389,-0.075477
fasting_blood_sugar,0.120513,0.047862,0.098339,0.175855,0.008803,1.000000,-1.000000,-0.081538,-0.008067,0.025665,0.004553,-0.059894,0.135051,-0.029814,-0.028046
alc_test,-0.120513,-0.047862,-0.098339,-0.175855,-0.008803,-1.000000,1.000000,0.081538,0.008067,-0.025665,-0.004553,0.059894,-0.135051,0.029814,0.028046
rest_eng,-0.115770,-0.055217,0.041559,-0.108315,-0.148315,-0.081538,0.081538,1.000000,0.040403,-0.066333,-0.050482,0.086880,-0.067720,-0.013663,0.131439
max_heart_rate_achieved,-0.404905,-0.042539,0.297061,-0.048370,-0.015725,-0.008067,0.008067,0.040403,1.000000,-0.377159,-0.349022,0.388536,-0.218169,-0.096116,0.419740
exercise_induced_angina,0.095105,0.146201,-0.387122,0.064132,0.059589,0.025665,-0.025665,-0.066333,-0.377159,1.000000,0.285917,-0.257748,0.111048,0.210866,-0.436757
st_depression,0.209660,0.091817,-0.148438,0.190514,0.048813,0.004553,-0.004553,-0.050482,-0.349022,0.285917,1.000000,-0.583356,0.222570,0.209096,-0.427611
st_slope,-0.177835,-0.037533,0.115403,-0.122204,-0.008350,-0.059894,0.059894,0.086880,0.388536,-0.257748,-0.583356,1.000000,-0.084210,-0.110219,0.345877
num_major_vessels,0.277678,0.106458,-0.185931,0.098962,0.071423,0.135051,-0.135051,-0.067720,-0.218169,0.111048,0.222570,-0.084210,1.000000,0.147116,-0.385160
thalassemia,0.058708,0.209735,-0.162347,0.064031,0.090389,-0.029814,0.029814,-0.013663,-0.096116,0.210866,0.209096,-0.110219,0.147116,1.000000,-0.349548
target,-0.223558,-0.286632,0.424501,-0.140527,-0.075477,-0.028046,0.028046,0.131439,0.419740,-0.436757,-0.427611,0.345877,-0.385160,-0.349548,1.000000

In [159]:
fig = go.Figure()
fig.add_trace(go.Heatmap(z=heart_df.corr(),x=heart_df.columns,y=heart_df.columns))
fig.update_layout({'title':"Heart DataFrame correlation Heatmap"})
fig.show()

In [160]:
heart_df.columns

Index(['age', 'sex', 'chest_pain_type', 'resting_blood_pressure',
       'cholesterol', 'fasting_blood_sugar', 'alc_test', 'rest_eng',
       'max_heart_rate_achieved', 'exercise_induced_angina', 'st_depression',
       'st_slope', 'num_major_vessels', 'thalassemia', 'target'],
      dtype='object')

In [161]:
# A perfect negative match: we can drop one of them
heart_df[['fasting_blood_sugar', 'alc_test']]

     fasting_blood_sugar  alc_test
0                      1         0
1                      0         1
2                      0         1
3                      0         1
4                      0         1
..                   ...       ...
301                    0         1
302                    0         1
303                    0         1
304                    0         1
305                    0         1

[303 rows x 2 columns]

In [162]:
heart_df.drop('alc_test', axis=1, inplace=True)
heart_df

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,1,3,145,233.0,1,0,150.0,0,2.3,0,0,1,1
1,37,1,2,130,250.0,0,1,187.0,0,3.5,0,0,2,1
2,41,0,1,130,204.0,0,0,172.0,0,1.4,2,0,2,1
3,56,1,1,120,236.0,0,1,178.0,0,0.8,2,0,2,1
4,57,0,0,120,354.0,0,1,163.0,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,57,1,0,130,131.0,0,1,115.0,1,1.2,1,1,3,0
302,57,0,1,130,236.0,0,0,174.0,0,0.0,1,1,2,0
303,57,0,0,128,303.0,0,0,159.0,0,0.0,2,1,2,1
304,51,1,2,94,227.0,0,1,154.0,1,0.0,2,1,3,1
305,64,0,0,130,303.0,0,1,122.0,0,2.0,1,2,2,1

## Binning
Convert continuous vars to a discrete one.

Cathegorize the 'cholesterol' feature to 3 levels:

1: 0-199

2: 200-399

3: 400-599

In [165]:
# first cearte the bins and the labels
bins = [0,199,399,599]
labels = [1,2,3]
heart_df['cholesterol_level'] = pd.cut(x=heart_df.cholesterol, bins=bins, labels=labels)
heart_df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target,cholesterol_level
0,63,1,3,145,233.0,1,0,150.0,0,2.3,0,0,1,1,2
1,37,1,2,130,250.0,0,1,187.0,0,3.5,0,0,2,1,2
2,41,0,1,130,204.0,0,0,172.0,0,1.4,2,0,2,1,2
3,56,1,1,120,236.0,0,1,178.0,0,0.8,2,0,2,1,2
4,57,0,0,120,354.0,0,1,163.0,1,0.6,2,0,2,1,2

In [166]:
# frequency table of the cholesterol levels
cross_df = pd.crosstab(index=heart_df.cholesterol_level, columns=['Count'])
cross_df

col_0              Count
cholesterol_level
1                     49
2                    250
3                      4

In [173]:
fig = go.Figure()
fig.add_traces(go.Pie(labels=['level 1', 'level 2', 'level 3'], values=cross_df.Count))
fig.update_traces(hoverinfo='label+percent', textinfo='label+value', textfont_size=20, hole=0.3,
                 marker=dict(line=dict(color='#000000',width=1)))
fig.show()

### Outliers detection

In [175]:
fig = go.Figure()
fig.add_trace(go.Box(name='resting blood pressure', y=heart_df.resting_blood_pressure))
fig.update_traces(marker=dict(color='rgb(8,81,156)', outliercolor='rgba(219,64,82,0.6)',
                            line=dict(outliercolor='rgba(219,64,82,0.6)',
                                     outlierwidth=2)), line_color='rgb(8,81,156)')
fig.show()

### Get outliers cases

In [176]:
def get_outliers(df, series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    
    if q1 * q3 == 0:
        iqr = abs(2*(q1+q3))
        toprange = iqr
        botrange = - toprange
    else:
        iqr = q3 - q1
        toprange = q3 + iqr * 1.5
        botrange = q3 - iqr * 1.5
    
    outliers_top = df[series>toprange]
    outliers_bot = df[series<toprange]
    outliers = pd.concat([outliers_bot, outliers_top], axis=0)
    
    return botrange, toprange, outliers

In [178]:
botrange, toprange, outliers = get_outliers(heart_df, heart_df.resting_blood_pressure)
print(toprange)
print(botrange)
outliers

170.0
110.0

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target,cholesterol_level
0,63,1,3,145,233.0,1,0,150.0,0,2.3,0,0,1,1,2
1,37,1,2,130,250.0,0,1,187.0,0,3.5,0,0,2,1,2
2,41,0,1,130,204.0,0,0,172.0,0,1.4,2,0,2,1,2
3,56,1,1,120,236.0,0,1,178.0,0,0.8,2,0,2,1,2
4,57,0,0,120,354.0,0,1,163.0,1,0.6,2,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,56,0,0,200,288.0,1,0,133.0,1,4.0,0,2,3,0,2
241,59,0,0,174,249.0,0,1,143.0,1,0.0,1,0,2,0,2
248,54,1,1,192,283.0,0,0,195.0,0,0.0,2,1,3,0,2
260,66,0,0,178,228.0,1,1,165.0,1,1.0,1,2,3,0,2
266,55,0,0,180,327.0,0,2,117.0,1,3.4,1,0,2,0,2

## Removing the outliers

In [180]:
# index_lst = [i for i in heart_df.index if i not in outliers.index]
# heart_no_outliers_df = heart_df[index_lst]

In [182]:
heart_no_outliers_df = heart_df[~heart_df.index.isin(outliers.index)]

In [183]:
heart_no_outliers_df.reset_index(inplace=True, drop=True)
heart_no_outliers_df

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_eng,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target,cholesterol_level
0,64,1,3,170,227.0,0,0,155.0,0,0.6,1,0,3,1,2
1,59,1,0,170,326.0,0,0,140.0,1,3.4,0,0,3,0,2
2,59,1,3,170,288.0,0,0,159.0,0,0.2,1,0,3,0,2
3,58,0,0,170,225.0,1,0,146.0,1,2.8,1,2,1,0,2

## Feature Scaling

Standardization: makes the feature distribute normally: (xi-mean(x))/std(x)

Min-Max Normalization: rescale the feature to the range [0,1]: (x-min(x)) / (max(x) - min(x))

In [184]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [189]:
standard_scaler = StandardScaler()
heart_df['max_heart_rate_achieved_std'] = standard_scaler.fit_transform(heart_df[['max_heart_rate_achieved']])
heart_df['max_heart_rate_achieved_std'].head()

0    0.016560
1    1.630955
2    0.976470
3    1.238264
4    0.583780
Name: max_heart_rate_achieved_std, dtype: float64

In [191]:
heart_df['max_heart_rate_achieved_std'].mean()

3.935245968473327e-16

In [192]:
heart_df['max_heart_rate_achieved_std'].std()

1.0016542608495935

In [193]:
# min max
min_max_scaler = MinMaxScaler()
heart_df['max_heart_rate_achieved_std'] = min_max_scaler.fit_transform(heart_df[['max_heart_rate_achieved']])
heart_df['max_heart_rate_achieved_std'].head()

0    0.603053
1    0.885496
2    0.770992
3    0.816794
4    0.702290
Name: max_heart_rate_achieved_std, dtype: float64

In [195]:
heart_df['max_heart_rate_achieved_std'].min()

0.0

In [196]:
heart_df['max_heart_rate_achieved_std'].max()

0.9999999999999999

# Exercise

In [197]:
weather_df

            temperature  windspeed  event  inter_temp
day
2017-01-01         32.0        6.0    1.0   32.000000
2017-01-04          NaN        9.0    3.0   29.000000
2017-01-05         28.0        8.0    0.0   28.000000
2017-01-06          NaN        7.0    NaN   30.000000
2017-01-07         32.0        8.0    1.0   32.000000
2017-01-08          NaN        8.0    3.0   32.666667
2017-01-09          NaN        8.0    NaN   33.333333
2017-01-10         34.0        8.0    2.0   34.000000
2017-01-11         40.0       12.0    3.0   40.000000
2017-01-07         32.0        8.0    1.0   32.000000
2017-01-01         32.0        6.0    1.0   32.000000

In [198]:
weather_df.temperature = weather_df.inter_temp
weather_df

            temperature  windspeed  event  inter_temp
day
2017-01-01    32.000000        6.0    1.0   32.000000
2017-01-04    29.000000        9.0    3.0   29.000000
2017-01-05    28.000000        8.0    0.0   28.000000
2017-01-06    30.000000        7.0    NaN   30.000000
2017-01-07    32.000000        8.0    1.0   32.000000
2017-01-08    32.666667        8.0    3.0   32.666667
2017-01-09    33.333333        8.0    NaN   33.333333
2017-01-10    34.000000        8.0    2.0   34.000000
2017-01-11    40.000000       12.0    3.0   40.000000
2017-01-07    32.000000        8.0    1.0   32.000000
2017-01-01    32.000000        6.0    1.0   32.000000

In [200]:
weather_df.drop('inter_temp', axis=1, inplace=True)
weather_df

            temperature  windspeed  event
day
2017-01-01    32.000000        6.0    1.0
2017-01-04    29.000000        9.0    3.0
2017-01-05    28.000000        8.0    0.0
2017-01-06    30.000000        7.0    NaN
2017-01-07    32.000000        8.0    1.0
2017-01-08    32.666667        8.0    3.0
2017-01-09    33.333333        8.0    NaN
2017-01-10    34.000000        8.0    2.0
2017-01-11    40.000000       12.0    3.0
2017-01-07    32.000000        8.0    1.0
2017-01-01    32.000000        6.0    1.0

In [202]:
# min max
min_max_scaler = MinMaxScaler()
weather_df['temp_min_max'] = min_max_scaler.fit_transform(weather_df[['temperature']])
weather_df['temp_min_max'].describe()

count    11.000000
mean      0.356061
std       0.261412
min       0.000000
25%       0.250000
50%       0.333333
75%       0.416667
max       1.000000
Name: temp_min_max, dtype: float64

In [205]:
# standardization
standard_scaler = StandardScaler()
weather_df['windspeed_std'] = standard_scaler.fit_transform(weather_df[['windspeed']])
weather_df['windspeed_std'].describe()

count    11.000000
mean      0.000000
std       1.048809
min      -1.300887
25%      -0.325222
50%       0.000000
75%       0.000000
max       2.601775
Name: windspeed_std, dtype: float64