In [43]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [44]:
titanic_df = pd.read_csv('https://raw.githubusercontent.com/UrielBender/BigData/master/DataSets/titanic.csv', index_col='PassengerId')
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
PassengerId,,,,,,,,,,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,1227.0,"Spector, Mr. Woolf",23.0,"London, England",Southampton,New York City,NaN,NaN,3.0
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,229.0,"and maid, Doña Fermina Oliva y Ocana",39.0,"Madrid, Spain",Cherbourg,"New York, New York, US",8,NaN,1.0
1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1169.0,"Sæther, Mr. Simon Sivertsen",43.0,"Skaun, Sør-Trøndelag, Norway",Southampton,US,NaN,32MB,3.0
1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,1289.0,"Ware, Mr. Frederick William",34.0,"Greenwich, London, England",Southampton,New York City,NaN,NaN,3.0
1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,702.0,"Butrus-Youssef, Master Makhkhul",4.0,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US",D,NaN,3.0

In [45]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     891 non-null    float64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1307 non-null   object
 11  WikiId       1304 non-null   float64
 12  Name_wiki    1304 non-null   object
 13  Age_wiki     1302 non-null   float64
 14  Hometown     1304 non-null   object
 15  Boarded      1304 non-null   object
 16  Destination  1304 non-null   object
 17  Lifeboat     502 non-null    object
 18  Body         130 non-null    object
 19  Class        1304 non-null   float64
dtypes: float64(6), int64(3), object(11)
memory usage: 214.8+ KB

In [46]:
titanic_df.isna().sum()

Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
WikiId            5
Name_wiki         5
Age_wiki          7
Hometown          5
Boarded           5
Destination       5
Lifeboat        807
Body           1179
Class             5
dtype: int64

# Data Preprocessing

In [47]:
titanic_df.dropna(thresh=800, axis=1, inplace=True)
titanic_df.drop(['Age', 'Boarded', 'Destination', 'Hometown', 'Ticket', 'Name', 'WikiId', 'Class', 'Name_wiki', 'WikiId'], axis=1, inplace=True)
titanic_df.Fare.fillna(titanic_df.Fare.median(), inplace=True)
titanic_df.Embarked.fillna('S', inplace=True)
titanic_df.Age_wiki.fillna(titanic_df.Age_wiki.mean(), inplace=True)
titanic_df.dropna(inplace=True)
titanic_df.rename(columns={'Age_wiki':'Age'}, inplace=True)
titanic_df = titanic_df.astype({'Survived':'int32'})
titanic_df.drop_duplicates()
titanic_df.head()

             Survived  Pclass     Sex  SibSp  Parch     Fare Embarked   Age
PassengerId
1                   0       3    male      1      0   7.2500        S  22.0
2                   1       1  female      1      0  71.2833        C  35.0
3                   1       3  female      0      0   7.9250        S  26.0
4                   1       1  female      1      0  53.1000        S  35.0
5                   0       3    male      0      0   8.0500        S  35.0

### More preprocessing

In [48]:
titanic_df['Family'] = titanic_df['Parch'] + titanic_df['SibSp']
titanic_df['Family'] = np.where(titanic_df['Family'] > 0, 1, 0)

# Validate that the change work well
print(np.unique(titanic_df.Family))
titanic_df.head()

[0 1]

,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,Age,Family
PassengerId,,,,,,,,,
1,0,3,male,1,0,7.2500,S,22.0,1
2,1,1,female,1,0,71.2833,C,35.0,1
3,1,3,female,0,0,7.9250,S,26.0,0
4,1,1,female,1,0,53.1000,S,35.0,1
5,0,3,male,0,0,8.0500,S,35.0,0

In [49]:
titanic_df.drop(['SibSp', 'Parch'], axis=1, inplace=True)
titanic_df.head()

             Survived  Pclass     Sex     Fare Embarked   Age  Family
PassengerId
1                   0       3    male   7.2500        S  22.0       1
2                   1       1  female  71.2833        C  35.0       1
3                   1       3  female   7.9250        S  26.0       0
4                   1       1  female  53.1000        S  35.0       1
5                   0       3    male   8.0500        S  35.0       0

In [50]:
# add 'child' feature if 'age' is 16 or smaller
titanic_df.Sex = np.where(titanic_df.Age <= 16, 'child', titanic_df.Sex)

titanic_df['P_type'] = titanic_df.Sex
titanic_df.drop('Sex', axis=1, inplace=True)
titanic_df.head(10)

             Survived  Pclass     Fare Embarked   Age  Family  P_type
PassengerId
1                   0       3   7.2500        S  22.0       1    male
2                   1       1  71.2833        C  35.0       1  female
3                   1       3   7.9250        S  26.0       0  female
4                   1       1  53.1000        S  35.0       1  female
5                   0       3   8.0500        S  35.0       0    male
6                   0       3   8.4583        Q  22.0       0    male
7                   0       1  51.8625        S  54.0       0    male
8                   0       3  21.0750        S   2.0       1   child
9                   1       3  11.1333        S  26.0       1  female
10                  1       2  30.0708        C  14.0       1   child

# Handling Categorical Features

#### Categorical values can be of two types:
* nominal: with no order, like 'apple', 'banana', 'orange'...
* ordinal: with order, like 'Excellent', 'very good', 'good'...

In [51]:
# Dummy variables / One shot encoding
Ptype_df = pd.get_dummies(titanic_df.P_type) # splitting the P_type feature to 3
Ptype_df

             child  female  male
PassengerId
1                0       0     1
2                0       1     0
3                0       1     0
4                0       1     0
5                0       0     1
...            ...     ...   ...
887              0       0     1
888              0       1     0
889              1       0     0
890              0       0     1
891              0       0     1

[891 rows x 3 columns]

#### We should also drop one of the columns. We can say that if the person is not a male or female -> It must be a child

In [52]:
Ptype_df = pd.get_dummies(titanic_df.P_type, drop_first=True)
Ptype_df

             female  male
PassengerId
1                 0     1
2                 1     0
3                 1     0
4                 1     0
5                 0     1
...             ...   ...
887               0     1
888               1     0
889               0     0
890               0     1
891               0     1

[891 rows x 2 columns]

In [53]:
#1
embarked_df = pd.get_dummies(titanic_df.Embarked, drop_first=True)
embarked_df.columns = ['Embarked_Q', 'Embarked_S']
embarked_df.head()

             Embarked_Q  Embarked_S
PassengerId
1                     0           1
2                     0           0
3                     0           1
4                     0           1
5                     0           1

In [54]:
pclass_df = pd.get_dummies(titanic_df.Pclass, drop_first=True)
pclass_df.columns = ['Second_Cls', 'Third_Cls']
pclass_df.head()

             Second_Cls  Third_Cls
PassengerId
1                     0          1
2                     0          0
3                     0          1
4                     0          0
5                     0          1

In [55]:
#2
titanic_df = pd.concat([titanic_df, embarked_df, pclass_df,Ptype_df], axis=1)

In [56]:
titanic_df.drop(['Embarked', 'Pclass', 'P_type'], inplace=True, axis=1)

In [57]:
titanic_df.head()

,Survived,Fare,Age,Family,Embarked_Q,Embarked_S,Second_Cls,Third_Cls,female,male
PassengerId,,,,,,,,,,
1,0,7.2500,22.0,1,0,1,0,1,0,1
2,1,71.2833,35.0,1,0,0,0,0,1,0
3,1,7.9250,26.0,0,0,1,0,1,1,0
4,1,53.1000,35.0,1,0,1,0,0,1,0
5,0,8.0500,35.0,0,0,1,0,1,0,1

# EDA

In [58]:
# How many survived ?
survived = titanic_df.Survived.value_counts()
percentage = [str(round(i/survived.sum()*100,2)) + '%' for i in survived]
percentage

['61.62%', '38.38%']

In [59]:
fig = go.Figure()
fig.add_trace(go.Bar(x=['Died', 'Survived'], y=survived, marker_color=['lightsalmon', 'green'], text=percentage,
                    textposition='outside'))
fig.update_layout(title='Survived passengers', yaxis_title='Number of cases')
fig.show()

In [60]:
# Histogram of ages
fig = go.Figure()
fig.add_trace(go.Histogram(x=titanic_df.Age))
fig.update_layout(title_text='Distribution of ages', xaxis_title_text='Age', yaxis_title_text='Count', bargap=0.2)
fig.show()

In [61]:
# How many traveled alone ?
family = titanic_df.Family.value_counts()
family

0    537
1    354
Name: Family, dtype: int64

## Scale the data

In [62]:
titanic_df.head(3)

,Survived,Fare,Age,Family,Embarked_Q,Embarked_S,Second_Cls,Third_Cls,female,male
PassengerId,,,,,,,,,,
1,0,7.2500,22.0,1,0,1,0,1,0,1
2,1,71.2833,35.0,1,0,0,0,0,1,0
3,1,7.9250,26.0,0,0,1,0,1,1,0

In [63]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler_df = pd.DataFrame(scaler.fit_transform(titanic_df[['Fare', 'Age']]), columns=['Fare_scaled','Age_scaled'])
scaler_df.head()

   Fare_scaled  Age_scaled
0     0.014151    0.293286
1     0.139136    0.469965
2     0.015469    0.347649
3     0.103644    0.469965
4     0.015713    0.469965

In [64]:
titanic_df_for_scaled_df = titanic_df.drop(['Fare', 'Age'], axis=1)

In [65]:
scaled_df = pd.merge(left=scaler_df, right=titanic_df_for_scaled_df, left_index=True, right_index=True)
scaled_df.head()

,Fare_scaled,Age_scaled,Survived,Family,Embarked_Q,Embarked_S,Second_Cls,Third_Cls,female,male
1,0.139136,0.469965,0,1,0,1,0,1,0,1
2,0.015469,0.347649,1,1,0,0,0,0,1,0
3,0.103644,0.469965,1,0,0,1,0,1,1,0
4,0.015713,0.469965,1,1,0,1,0,0,1,0
5,0.016510,0.293286,0,0,0,1,0,1,0,1

In [66]:
# Data split
from sklearn.model_selection import train_test_split

X = scaled_df.drop('Survived', axis=1)
y = scaled_df.Survived

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.3,random_state=1234)
train_df = pd.merge(left=X_train,right=y_train,left_index=True,right_index=True)
test_df = pd.merge(left=X_test,right=y_test,left_index=True,right_index=True)
train_df.head(10)

,Fare_scaled,Age_scaled,Family,Embarked_Q,Embarked_S,Second_Cls,Third_Cls,female,male,Survived
29,0.015412,0.306877,0,1,0,0,1,1,0,1
367,0.014110,0.469965,1,0,0,0,0,1,0,1
682,0.018006,0.266105,0,0,0,0,0,0,1,1
74,0.110272,0.429193,1,0,0,0,1,0,1,0
423,0.028107,0.374830,0,0,1,0,1,0,1,0
96,0.067640,0.959228,0,0,1,0,1,0,1,0
327,0.025374,0.483555,0,0,1,0,1,0,1,0
154,0.014273,0.361239,1,0,1,0,1,0,1,0
669,0.101497,0.646643,0,0,1,0,1,0,1,0
439,0.020495,0.415602,1,0,1,0,0,0,1,0

# Logistic Regression Model

In [67]:
from sklearn.linear_model import LogisticRegression

In [68]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression()

In [69]:
probability = logmodel.predict_proba(X_train)
prediction = logmodel.predict(X_train)

In [70]:
y_train_prob_0 = pd.Series(probability[:,0], name='probability_0', index=y_train.index)
y_train_prob_1 = pd.Series(probability[:,1], name='probability_1', index=y_train.index)
y_train_pred = pd.Series(prediction, name='prediction', index=y_train.index)

train_results = pd.DataFrame(data={'probability_0': y_train_prob_0,'probability_1': y_train_prob_1,'prediction': y_train_pred, 'actual':y_train})
train_results

     probability_0  probability_1  prediction  actual
29        0.331014       0.668986           1       1
367       0.057104       0.942896           1       1
682       0.506988       0.493012           0       1
74        0.892281       0.107719           0       0
423       0.931520       0.068480           0       0
..             ...            ...         ...     ...
205       0.933263       0.066737           0       1
54        0.198466       0.801534           1       1
295       0.931908       0.068092           0       0
724       0.810626       0.189374           0       0
816       0.663710       0.336290           0       0

[623 rows x 4 columns]

## Evaluation

In [71]:
correct_rows = len(train_results.loc[train_results.prediction == train_results.actual])
correct_rows

504

In [72]:
accuracy = round(correct_rows/len(train_results),2)
accuracy

0.81